<form>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">Name <span class="text-danger">*</span></label>
        <div class="col-sm-10">
            <div class="input-group input-group-merge">
                <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-user"></i></span>
                <input
                        type="text"
                        class="form-control"
                        id="basic-icon-default-fullname"
                        placeholder="John Doe"
                        aria-label="John Doe"
                        aria-describedby="basic-icon-default-fullname2"
                />
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="basic-icon-default-email">Email <span class="text-danger">*</span></label>
        <div class="col-sm-10">
            <div class="input-group input-group-merge">
                <span class="input-group-text"><i class="bx bx-envelope"></i></span>
                <input
                        type="text"
                        id="basic-icon-default-email"
                        class="form-control"
                        placeholder="john.doe"
                        aria-label="john.doe"
                        aria-describedby="basic-icon-default-email2"
                />
                <span id="basic-icon-default-email2" class="input-group-text">@example.com</span>
            </div>
            <div class="form-text">You can use letters, numbers & periods</div>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="basic-icon-default-password">Mot de passe</label>
        <div class="col-sm-10">
            <div class="input-group input-group-merge">
                <span id="basic-icon-default-password2" class="input-group-text"><i class="bx bx-lock"></i></span>
                <input
                        type="text"
                        id="basic-icon-default-password"
                        class="form-control"
                        placeholder="Mot de passe"
                        aria-label="ACME Inc."
                        aria-describedby="basic-icon-default-password2"
                />
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="basic-icon-default-confirm-password">Confirmer le mot de passe</label>
        <div class="col-sm-10">
            <div class="input-group input-group-merge">
                <span id="basic-icon-default-confirm-password2" class="input-group-text"><i class="bx bx-lock"></i></span>
                <input
                        type="text"
                        id="basic-icon-default-confirm-password"
                        class="form-control"
                        placeholder="Confirmer le mot de passe"
                        aria-label="Confirmer le mot de passe"
                        aria-describedby="basic-icon-default-confirm-password2"
                />
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 form-label" for="basic-icon-default-message">About</label>
        <div class="col-sm-10">
            <div class="input-group input-group-merge">
                              <span id="basic-icon-default-message2" class="input-group-text"
                              ><i class="bx bx-comment"></i></span>
                <textarea
                        id="basic-icon-default-message"
                        class="form-control"
                        placeholder="Parler a propos de vous"
                        aria-label="Parler a propos de vous"
                        aria-describedby="basic-icon-default-message2"></textarea>
            </div>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
    </div>
</form>