<footer class="footer">
    <div class="top">
        <img src="{{ asset('frontend/image/logo.png') }}" alt="logo">
        <div class="right">
            <div class="contact">
                <span class="contact-number">+221 78 164 69 93</span>
                <span class="contact-email"><a href="mailto:ddthera@gmail.com">ddthera@gmail.com</a></span>
            </div>
            <div class="social-media">
                <a href="#"><img src="{{ asset('frontend/image/github.png') }}" alt="github"></a>
                <a href="#"><img src="{{ asset('frontend/image/twitter.png') }}" alt="twitter"></a>
                <a target="_blank" href="https://www.linkedin.com/in/daouda-thera"><img src="{{ asset('frontend/image/Linkedin.png') }}" alt="linkedin"></a>
            </div>
        </div>
    </div>
    <hr>
    <div class="bottom">
        <nav>
            <ul>
                <li class="nav-item"><a href="#">Home</a></li>
                <li class="nav-item"><a href="#">About</a></li>
                <li class="nav-item"><a href="#">Technologies</a></li>
                <li class="nav-item"><a href="#">Projects</a></li>
                <li class="nav-item"><a href="#">Contact</a></li>
            </ul>
        </nav>
        <p>Design par <span class="designer">Pavan MG</span> - Intégration et
            développement par <a target='_blank' href="https://linkedin.com/in/daouda-thera">Daouda S. THERA</a></p>
    </div>
</footer>