{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="home">
        <section class="presentation">
            <div class="description">
                {{ user.about }}
            </div>
            <div class="profile">
                <img src="{{ asset('uploads') }}/{{ user.image}}" alt="profile">
            </div>
        </section>
    </div>
{% endblock %}
