@font-face {
  font-family: "dawning";
  src: url("../../../assets/fonts/dawning/DawningofaNewDay.ttf") format("truetype");
}

//@font-face {
//  font-family: "Caros";
//  src: url("../../../assets/fonts/caros/Caros.woff") format("truetype");
//  src: url("../../../assets/fonts/caros/Caros-Black.woff") format("truetype") ;
//  src: url("../../../assets/fonts/caros/caros-Black-Italic.woff") format("truetype");
//  src: url("../../../assets/fonts/caros/CarosBold.woff") format("truetype");
//  src: url("../../../assets/fonts/caros/CarosBoldItalic.woff") format("truetype");
//  src: url("../../../assets/fonts/caros/CarosItalic.woff") format("truetype");
//}

@font-face {
  font-family: "Caros";
  src: url("../../../assets/fonts/caros/Caros.woff") format("truetype");
}

@font-face {
  font-family: "Caros Black";
  src: url("../../../assets/fonts/caros/Caros-Black.woff") format("truetype") ;
}

@font-face {
  font-family: "Caros Black Italic";
  src: url("../../../assets/fonts/caros/caros-Black-Italic.woff") format("truetype");
}

@font-face {
  font-family: "Caros Bold";
  src: url("../../../assets/fonts/caros/CarosBold.woff") format("truetype");
}

@font-face {
  font-family: "Caros Bold Italic";
  src: url("../../../assets/fonts/caros/CarosBoldItalic.woff") format("truetype");
}

@font-face {
  font-family: "Caros Italic";
  src: url("../../../assets/fonts/caros/CarosItalic.woff") format("truetype");
}