header {
  height: 10vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;

  .logo {
    align-items: center;
    display: flex;
  }

  nav {
    width: 70%;
    ul {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      .social-media img {
        width: 25px;
        height: 25px;
      }
      .social-media a {
        margin: 0 5px;
      }
    }
  }
}