:root {
  --color-background: #F5F5F5;
  --color-white: #f3f3f3;
  --color-design-one: #E70FAA;
  --color-design-two: #13B0F5;
  --color-primary: #42446E;
  --color-secondary: #0084d6;
  --color-dark: #0084d6;
  --color-info: #0084d6;
  --color-success: #0084d6;
  --color-danger: #0084d6;
}