@import "./module/_fonts.scss";
@import "./module/_variable.scss";

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Caros", serif;
  background: $color-light-yellow;
  font-size: 16px;
}

.container {
  max-width: $max-width;
  margin: 0 auto;
}

.landing-page {
  height: 100vh;

  header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      text-decoration: none;
      color: inherit;
    }

    .logo {
      width: 20%;
      font-family: dawning, serif;
    }

    nav {
      width: 50%;

      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    .contact {
      width: 20%;
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 10px;

      img {
        width: 40px;
        height: 40px;
      }
    }
  }

  .landing {
    height: 70%;
    display: flex;
    justify-content: space-between;
    padding: 10% 0;
    position: relative;

    img.geographie {
      position: absolute;
      left: 38%;
      bottom: -2%;
    }

    img.my-photo {
      position: absolute;
      width: 618px;
      height: 570px;
      left: calc(50% - 618px / 2 + 130px);
      top: calc(50% - 570px / 2 + 59px);
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 40%;

      .hello {
        font-size: 82px;
        font-weight: bold;
        line-height: 90px;
      }

      a {
        color: $color-red;
        font-size: 18px;
        font-weight: bold;
      }

      .experience-number {
        text-transform: uppercase;
        display: flex;
        align-items: center;
        gap: 13px;

        h1:nth-child(1) {
          font-weight: 600;
          font-size: 65px;
          line-height: 80px;
        }
      }
    }

    .about {
      width: 257px;
      font-weight: 400;
      font-size: 18px;
      line-height: 35px;
    }
  }

  .study-process {
    height: 20vh;
    background: $color-white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    line-height: 68px;
  }
}

.work-experience {
  height: 855px; // a supprimer apres
  h1:nth-child(1) {
    padding-top: 64px;
    text-align: center;
    font-size: 65px;
    line-height: 80px;
    font-weight: bold;
  }

  .experiences {
    margin-top: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .companies {
      display: flex;
      flex-direction: column;
      //gap: 130px;
      .company-item {
        display: flex;
        flex-direction: column;
        line-height: 34px;
      }
    }

    .jobs {
      max-width: 672px;
      //flex-direction: column;
      //justify-content: space-between;
      //gap: 130px;
      .job-item {
        text-align: justify;
        h2 {
          margin-bottom: 16px;
        }
        p {
          line-height: 44px;
        }
      }
    }
  }
}

