.home {
  .generic-right-top {
    background: #D7FFE0;
    color: #018C0F;
    padding: 9px;
    border-radius: 20%;
  }

  .server-response-info {
    text-align: center;
    margin-top: 50px;
    .alert-success {
      background: #30c34e;
      color: white;
      padding: 20px;
      border-radius: 10px;
    }
    .alert-danger {
      background: red;
      color: white;
      padding: 20px;
      border-radius: 10px;
    }
  }

  .presentation {
    display: flex;
    flex-direction: row;
    line-height: 2.5;
    align-items: center;

    .description {
      text-align: justify;
      text-justify: inter-word;
      width: 60%;
      size: 58px;
      font-weight: bold;
    }

    .profile {
      width: 40%;
      text-align: right;

      img {
        border: 2px solid #E70FAA;
        border-radius: 100%;
        width: 15rem;
      }
    }
  }

  .education {
    &__head {
      text-align: center;
      margin-top: var(--margin-between-section);
    }

    &__body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-bottom: 1px solid var(--color-education-hr);
      margin: 20px 0;
      padding-bottom: 20px;

      .education-name-ville {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .education-school-year {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
        margin-top: 20px;

        .school {
          display: flex;
          gap: 10px;
          align-items: center;

          img {
            height: 12px;
            width: 16px;
          }
        }

        .ville {
          display: flex;
          gap: 10px;
          align-items: center;

          img {
            height: 12px;
            width: 16px;
          }
        }

        .year {
          display: flex;
          gap: 10px;
          align-items: center;
        }
      }
    }
  }

  .experience {
    &__head {
      text-align: center;
      margin-top: var(--margin-between-section);
    }

    &__body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-bottom: 1px solid var(--color-education-hr);
      margin: 20px 0;
      padding-bottom: 20px;

      .experience-name-ville {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      .experience-school-year {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
        margin-top: 20px;

        .school {
          display: flex;
          gap: 10px;
          align-items: center;
          width: 33%;

          img {
            height: 12px;
            width: 16px;
          }
        }

        .ville {
          display: flex;
          gap: 10px;
          align-items: center;
          width: 33%;
          justify-content: center;

          img {
            height: 12px;
            width: 16px;
          }
        }

        .year {
          display: flex;
          gap: 10px;
          align-items: center;
          width: 33%;
          justify-content: end;
        }
      }
    }
  }

  .stack {
    margin-top: 100px;
    text-align: center;

    .technos {
      margin-top: 80px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));

      .techno-item {
        padding: 10px;

        img {
          width: 120px;
          height: 120px;
          border-radius: 5%;
          background: #03a6c9;
        }
      }
    }
  }

  .project {
    text-align: center;
    margin-top: 100px;

    .project__container {
      margin-top: 100px !important;

      .project-item {
        width: 375px;
        height: 580px;
        background: #FFFFFF;
        //box-shadow: 2px 2px 100px rgba(0, 0, 0, 0.2);
        border-radius: 20px;

        &__head {
          img {
            width: 375px;
            height: 260px;
            border-radius: 20px;
          }
        }

        &__container {
          padding: 30px;
        }

        &__body {
          text-align: justify;

          & h3 {
            text-align: center;
            margin-bottom: 15px;
          }

          .stack {
            margin: 15px 0;
            text-align: justify;

            span {
              font-weight: bold;
            }
          }
        }

        &__footer {
          display: flex;
          align-items: center;
          justify-content: space-between;

          img {
            width: 20px;
          }
        }
      }
    }
  }

  .contact {
    margin-top: var(--margin-between-section);

    &__head {
      text-align: center;

      & > :first-child {
        margin-bottom: 10px;
      }

      a {
        color: #7F56D9;
      }
    }

    &__body {
      form {
        margin: 50px auto;

        input {
          height: 45px;
          border-radius: 10px;
          outline: none;
          border: 1px solid black;
          padding: 10px;
          font-size: 16px;
        }

        textarea {
          padding: 20px;
          font-size: 16px;
        }

        .form-widget {
          display: flex;
          flex-direction: column;
          width: 40%;
          margin-bottom: 20px;

          input {
            width: 100%;
          }
        }

        .form-group {
          display: flex;
          flex-direction: column;
          margin-bottom: 20px;
        }

        .fullname {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        textarea {
          border-radius: 20px;
        }

        div.send-btn {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        button {
          width: 10rem;
          height: 3rem;
          border: none;
          outline: none;
          background: #7F56D9;
          color: var(--color-white);
          font-size: 18px;
          cursor: pointer;
          text-align: center;
        }
      }
    }
  }
}

@import "./_media.scss";
@import "./_animate.scss";